@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

:root{
    --color-primary: #E67E22;
    --color-secondary: #FDF2E9;
    --color-white: #fff;
    --text-color1: #333;
    --text-color2: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

input, textarea, body{
    font-family: "Rubik", sans-serif;
    outline: none;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    list-style-position: inside;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
}

.container{
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    font-size: 20px;
    font-weight: 600;

    border-radius: 9px;
    padding: 16px 32px;

    transition: .2s;
}
.btn-primary{
    color: var(--color-white);
    background-color: var(--color-primary);
}
.btn-secondary{
    color: var(--text-color2);
    background-color: var(--color-white);
}

.btn:hover{
    opacity: 0.9;
}
.btn:active{
    scale: 0.98;
}

.heading-tag{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: var(--color-primary);
}
.heading-title{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: var(--text-color2);
}