@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;

    background-image: url(../img/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    max-width: 1440px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 165px;
    padding-right: 165px;
}

.top-info .container{
    padding-top: 56px;
    padding-bottom: 56px;
}
.top-info .top-info-content{
    display: flex;
    justify-content: space-between;
}
.top-info .text{
    color: white;
}
.top-info .text .hello{
    display: flex;
    align-items: center;
    gap: 16px;

    margin-bottom: 16px;
}
.top-info .text .hello p{
    font-size: 20px;
    letter-spacing: 4px;
}
.top-info .text .clock{
    font-size: 200px;
    font-weight: 700;
}
.top-info .text .clock span{
    font-size: 40px;
    font-weight: 300;
}
.top-info .text .place{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4.8px;
}

.top-info button{
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 14px;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, .5);

    background: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;

    padding: 8px 9px 8px 28px;
}
.top-info button div{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #303030;
    border-radius: 100%;
}