.btn-primary{
    color: #fff;

    font-size: 20px;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    
    padding: 16px 32px;
    cursor: pointer;
    display: block;
}
.btn-secondary{
    color: #555555;

    font-size: 20px;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    background-color: #fff;
    
    padding: 16px 32px;
    cursor: pointer;
    display: block;
}
.btn-s{
    color: #fff;

    font-size: 18px;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    
    padding: 12px 24px;
    cursor: pointer;
    display: block;
}